.catalogo_titulo {
    font-family:'Luckiest Guy';
    font-weight:'bold';
    font-size: 60px;
}
body {
    background-color: #FFB676;
}

.blue-box {
    background-color: #6684E8;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
}

.imagem {
    width: 463px;
    object-fit: cover;
    height: 315px;
}

.legenda {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 850px;
    margin: 0 auto;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.botao_voltar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white; 
    background-color: red;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}


.botao_voltar:hover {
    background-color: red;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}


.botao_voltar:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.userway_buttons_wrapper {
    position: fixed !important;
    top: 50% !important;
    left: 0% !important;
    transform: translate(-0, -50%) !important;
    z-index: 1000 !important; 
}
