
html body {
    background-color: #eeefff;
}

.borda {
    border-bottom: 2px solid rgba(255, 255, 255, 0.782);
    color: rgba(252, 252, 252, 0.847);
}

#box_equipe {
    background-color: #789AFF;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe2 {
    background-color: #FE9700;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe3 {
    background-color: #F2E41D;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe4 {
    background-color: #F24607;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe5 {
    background-color: #D94E41;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe6 {
    background-color: #FE9700;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

footer {
    background-color: #4E64A6;
}

#rodape {
    background-color: #4E64A6;
    height: 100px;
}

.email_texto {
    color: white;
}

.img_insta {
    height: 100px;
}

#fundo_como {
    background-image: url('/assets/img/image\ 36.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
}


.footer {
    background-color: #44558d;
    color: white;
    padding: 20px;
    height: fit-content;
  }

.footer h5{
    font-size: 30px;
}
.footer a {
    color: white;
   text-decoration: none;
}
.footer .icon {
    font-size: 50px;
    margin-right: 10px;
}
.footer img {
    max-width: 100px;
    margin-top: 10px;
}
.footer .contact-info {
    font-size: 15px;
}
.footer .social-icons a {
    margin-right: 20px;
    font-size: 40px;
  
}

#qr-code-area {
    margin-top: 100px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}

.square1{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
    transform: translate(-25%, -25%);
    position: absolute;
    background-image: url(/assets/img/qr-code-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;

}

.square2{
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    display: flex;


}

.fundo_equipe {
    background-image: url('/assets/img/fundo.png');
}


.userway_buttons_wrapper {
    position: fixed !important;
    top: 50% !important;
    left: 0% !important;
    transform: translate(-0, -50%) !important;
    z-index: 1000 !important; 
}

@media(max-width:455px){

    .footer {
        background-color: #44558d;
        color: white;
        padding: 20px;
        height: fit-content;
        word-break: break-all;
        
      }
    
    .footer h5{
        font-size: 30px;
        color: #ffffff;
    }
    
    .footer p{
        color: #ffffff;
    
    }
    .footer a {
       color: white;
       text-decoration: none;
    }
    .footer .icon {
        font-size: 50px;
        margin-right: 10px;
    }
    .footer img {
        max-width: 100px;
        margin-top: 10px;
    }
    .footer .contact-info {
        font-size: 20px;
    }
    .footer .social-icons a {
        margin-right: 15px;
        font-size: 40px;
      
    }
    
    #qr-code-area {
        margin-top: 100px;
        width: 200px;
        height: 200px;
    }
    
    .square1{
        width: 200px;
        height: 200px;
        background-color: #ffffff;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 2;
        transform: translate(-25%, -25%);
        position: absolute;
        background-image: url(/assets/img/qr-code-image.png);
        background-repeat: no-repeat;
        background-size: contain;
    
    }
    
    .square2{
        display: none;
        width: 0px;
        height: 0px;
        background-color: #D9D9D9;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        z-index: 1;
        position: absolute;
    
    }

}